<table>
  <tr>
    <th *ngFor="let column of tableSettings.getTableColumnSettings()"
    [ngStyle]="{'width':column.width}"
    > 
      <div (click)="columnClick(column)" 
      [ngStyle]="{'margin-top':titleMargin(column)}">
        {{column.title}} 

        <span *ngIf="column.sortingType ===  'asc'"> ▲</span>
        <span *ngIf="column.sortingType ===  'desc'"> ▼ </span>
      </div> 

      <div *ngIf="column.allowFiltering">
        <input style="width: auto;" type="text" [(ngModel)]="column.filterText"  
        (keypress)="searchEvent($event, column)" /> 
      </div>
    </th>
  </tr>

  <tr *ngFor="let data of tableData; index as i">
    <td *ngFor="let column of tableSettings.getTableColumnSettings()">

      <app-column-table [rowIndex]="i" [column]="column" [data]="data">
      </app-column-table>

    </td>
  </tr>

</table>
